# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Nueva carpeta\P1Dpoo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
